#panel.transparent-top-bar--solid {
	background-color: rgba(0, 0, 0, 0.3);
    transition-duration: 0ms;
    font-weight: bold;
    height: 34px;
    border-radius: 0px;
    margin: 0px;
    padding-bottom: 8px;
}

#panel.transparent-top-bar--transparent {
    background-color: rgba(0, 0, 0, 0.3);
    transition-duration: 0ms;
	font-weight: bold;
	height: 34px;
	border-radius: 9999px;
	margin-top: 8px;
	margin-bottom: 0px;
	margin-left: 32px;
	margin-right: 32px;
}
#panel.transparent-top-bar--transparent .panel-corner {
    -panel-corner-background-color: rgba(0, 0, 0, 0.3);
}
